.ccm-block-topic-list-wrapper .list-unstyled{padding-left:0;list-style:none}.ccm-block-topic-list-topic-selected{font-weight:bold}

.ccm-block-social-links ul.list-inline{display:inline-block;margin:0px;padding:0px}.ccm-block-social-links ul.list-inline li{padding:0px;list-style-type:none;margin-right:10px;display:inline-block}

